@use '../styles/mixins';
@import '../styles/variables';

.wrapper {
  @include mixins.page-wrapper;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (max-width: 1062px) {
    justify-content: center;
  }
}

.cart-items-wrapper {
  flex-basis: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  @media (max-width: 1062px) {
    flex-basis: auto;
    width: 100%;
  }
}

.empty-text {
  font-family: var(--font-rubik-scribble);
  font-size: 4rem;
}
