// colors
$yellow-transparent: rgba(255, 244, 7, 0.3);
$yellow: rgb(255, 244, 7);
$transparent: rgb(255, 255, 255, 0);
$black: rgb(0, 0, 0);
$red: rgb(255, 0, 0);
$white: rgb(255, 255, 255);
$opaque-black: rgba(0, 0, 0, 0.25);

// sizes
$max-width: 1130px;
