@use '../styles/mixins';
@import '../styles/variables';

.header {
  height: 160px;
  background: linear-gradient($yellow-transparent, $transparent);
  position: sticky;
  top: 0;

  @media (max-width: $breakpoint-tablet) {
    height: 80px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    .title {
      font-size: 6rem;
      font-weight: bold;
      font-family: var(--font-rubik-scribble);

      @media (max-width: $breakpoint-tablet) {
        display: none;
      }

      &:active {
        color: $yellow;
      }
    }

    .cart-container {
      @include mixins.flex-center;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      border: 1px solid $black;
      position: relative;
      margin-left: 37px;

      &:hover {
        border: 1px dashed $black;
        rotate: -5deg;
      }

      @media (max-width: $breakpoint-tablet) {
        width: 64px;
        height: 64px;

        img {
          width: 48px;
          height: 48px;
        }
      }
    }

    .itemsCounter {
      @include mixins.flex-center;
      position: absolute;
      top: 20px;
      right: 12px;
      width: 25px;
      height: 25px;
      color: $white;
      background-color: $red;
      border-radius: 50%;

      @media (max-width: $breakpoint-tablet) {
        width: 16px;
        height: 16px;
        top: 10px;
        right: 6px;
      }
    }
  }
}

.logo {
  @media (max-width: $breakpoint-tablet) {
    width: 96px;
  }
}
