@use '../styles/mixins';
@import '../styles/variables';

.container {
  flex-basis: 330px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @media (max-width: 1062px) {
    width: 100%;
    flex-basis: auto;
  }
}

.total-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.price-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.button {
  @include mixins.button-base;

  width: 100%;
}
