@use '../styles/mixins';
@import '../styles/variables';

.record-information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 440px;

  @media (max-width: $breakpoint-tablet) {
    width: 80%;
    flex-basis: auto;
  }

  .title-price-wrapper {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    h1 {
      font-size: $text-medium;
    }

    p {
      font-size: $text-medium;
      font-weight: 700;
    }

    strong {
      font-size: $text-medium;
      font-weight: 400;
    }
  }
}
