@use '../styles/mixins';
@import '../styles/variables';

.record-information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.controls-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  max-height: 60px;
}
