@use '../styles/mixins';
@import '../styles/variables';

.record-information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 440px; /* Sets the initial main size of the flex item */
  max-width: 440px; /* Ensures the item doesn't grow beyond 440px */
  flex-shrink: 1;

  // @media (max-width: 880px) {
  //   flex-basis: auto; /* Reset flex-basis for column layout */
  //   width: 100%; /* Make each item take the full container width */
  //   max-width: none;
  // }
}
