@use '../styles/mixins';

.wrapper {
  @include mixins.page-wrapper;
}

.record-card {
  display: flex;
  justify-content: space-between;

  // @media (max-width: 880px) {
  //   flex-direction: column;
  //   align-items: center;
  // }
}

.image-wrapper {
  width: 100%; /* Make the wrapper take up the full width of the flex item */
  height: auto;
}

.image {
  width: 100%;
  height: auto;
}

.flex-item {
  flex-basis: 440px; /* Sets the initial main size of the flex item */
  max-width: 440px; /* Ensures the item doesn't grow beyond 440px */
  max-height: 440px;
  flex-shrink: 1;

  // @media (max-width: 880px) {
  //   flex-basis: auto; /* Reset flex-basis for column layout */
  //   width: 100%; /* Make each item take the full container width */
  //   max-width: none;
  // }
}
