@use '../styles/mixins';
@import '../styles/variables';

// single record page styles
.wrapper {
  @include mixins.page-wrapper;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0 1rem;
}

.record-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin: 0 1rem 2rem 1rem;
    padding: 0;
    max-height: none;
  }
}

.image-wrapper {
  position: relative;
  flex-basis: 600px;

  @media (max-width: $breakpoint-tablet) {
    flex-basis: auto;
  }

  img {
    width: 100%;
    height: auto;
  }
}
